@import url("https://fonts.googleapis.com/css?family=Roboto:300");

a {
  color: inherit;
}

body {
  /* background-image: url("../assets/pano.jpg"); */
  background-color: black;
  background-position: 50% 100%;
  background-size: cover;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

h1, h2 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 14px;
}

.container {
  /* background-color: rgba(255, 255, 255, 0.4); */
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.container-small {
  padding: 40px;
}

.links {
  font-size: 12px;
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}

.links li {
  margin: 10px 0 0 0;
}

.portrait {
  border-radius: 50%;
  box-shadow: 0 0 10px;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
  width: 100%;
  height: 0;
}

.youtube__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}